@import url(../../utils/constants.css);

.logo {
    height: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light);
    background-color: var(--header-color);
    padding: 0% 7% 0% 10%;
}

.app-name {
    display: inline;
}
